@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap");

.array {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(6, 1fr);
  list-style: none;
  font-size: 2.2rem;
  gap: 0.2rem;
  color: #28293e;
}

.arrayItem {
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
}

/*linear / bimary css*/

.picked {
  background-color: #b550f8;
}
.notSearched {
  background-color: rgb(29, 197, 194);
}
.searched {
  background-color: #f5b3a9;
}
.mid {
  background-color: #c577f8;
}
.low-high {
  background-color: #f5b3a9;
}

.found {
  background-color: #ef6d58;
}

/*animation bg*/
/* .found {
  color: azure;

  background: linear-gradient(
    124deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );

  animation: rainbow 18s ease infinite;
  transition: opacity 0.3s ease-in-out;
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
} */
/*animation bg*/

@media only screen and (min-width: 0px) {
  .array {
    font-size: 1.5em;
  }
  .arrayItem {
    padding: 0.4em;
  }
  .arrayBG {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/images/algorithm-background-xs.png");
  }
}
@media only screen and (min-width: 500px) {
  .array {
    font-size: 1.8em;
  }
  .arrayItem {
    padding: 0.5em;
  }
  .arrayBG {
    background-repeat: no-repeat;
    background-image: url("/images/algorithm-background-xs.png");
  }
}

@media only screen and (min-width: 600px) {
  .array {
    font-size: 2em;
  }
  .arrayItem {
    padding: 0.6em;
  }
  .arrayBG {
    background-image: url("/images/algorithm-background-sm.png");
    /* background-image: url(`${smBG}`); */
  }
}

@media only screen and (min-width: 900px) {
  .array {
    font-size: 2.2em;
  }
  .arrayItem {
    padding: 0.6em;
  }
  .arrayBG {
    background-image: url("/images/algorithm-background-md.png");
  }
}

@media only screen and (min-width: 1200px) {
  .array {
    font-size: 2.3em;
  }
  .arrayItem {
    padding: 0.7em;
  }
  .arrayBG {
    background-image: url("/images/algorithm-background-lg.png");
  }
}

@media only screen and (min-width: 1536px) {
  .array {
    font-size: 2.4em;
  }
  .arrayItem {
    padding: 0.7em;
  }
  .arrayBG {
    background-image: url("/images/algorithm-background-xl.png");
  }
}
